.swiper-slide {
  filter: blur(10px);
  z-index: 1;
}
.swiper-slide-prev,
.swiper-slide-next {
  filter: blur(3px);
  z-index: 50;
}
.swiper-slide-active {
  filter: blur(0px);
  z-index: 100;
}

.mySwiper {
  margin-left: -150px;
}

.swiper-button-prev {
  margin-left: 150px;
}
