.swiper-slide {
  z-index: 1;
}
.swiper-slide-prev,
.swiper-slide-next {
  z-index: 50;
}
.swiper-slide-active {
  z-index: 100;
}

.mySwiper {
  margin-left: -150px;
}

.swiper-button-prev {
  margin-left: 150px;
}

.swiper-slide.blurEffect {
  filter: blur(10px);
}
.swiper-slide-prev.blurEffect,
.swiper-slide-next.blurEffect {
  filter: blur(3px);
}
.swiper-slide-active.blurEffect {
  filter: blur(0px);
}
